* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background: #f3f5f7;
}

.container {
  max-width: 920px;
  margin: auto;
  padding: 20px;
}

.header {
  height: 250px;
  background: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
  margin-bottom: 50px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  padding-top: 40px;
}

.header-menu h1 {
  font-size: 24px;
  line-height: 30px;
}

.header-input input {
  margin-top: 30px;
  height: 65px;
  width: 100%;
  border-radius: 5px;
  border: transparent;
  background: rgba(255, 255, 255, 0.2);
  flex-wrap: wrap;
}

.header-input input[type="text"] {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding-left: 65px;
}

::placeholder {
  color: #ffffff;
}

:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.main-card {
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
}

.main-card-top {
  display: flex;
  justify-content: space-between;
}

.main-card-content h1 {
  font-size: 26px;
  color: #313131;
  padding-top: 20px;
}

.main-card-content p {
  font-size: 18px;
  color: #b6b6b6;
  line-height: 32px;
  padding-top: 8px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
}

.form i {
  color: #fff;
  font-size: 25px;
  left: 45px;
  top: 45px;
  position: relative;
}
